@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1{
        margin-bottom:30px;
        font-size: 48px;
        font-weight: bold;
        color: #2c3e50;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.15);
    }

    .btn{
        background: #ff6b81;
        color: #fff;
        border: none;
        border-radius: 12px;
        padding: 14px 35px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        display: inline-block;
        margin-top: 13px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }
    .btn:hover{
            background: #ff4757;
            transform: translateY(-3px);
            box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }
</style>

<div style="display: flex; justify-content: center; align-items: center; height: 80vh; flex-direction: column; text-align: center;">
    <h1 class="display-4">Attendance Monitoring System</h1>
    @if (User.IsInRole("Student"))
    {
        <a asp-controller="Home" asp-action="MyAttendance" class="btn custom-btn">View Attendance</a><br />
    }
    else if (User.IsInRole("Instructor"))
    {
        <a asp-controller="Home" asp-action="Attendance" class="btn custom-btn">Attendance</a><br />
    }
    <a asp-controller="Home" asp-action="StudentAdding" class="btn custom-btn">Add Student</a>
</div>
